.cardItemImage {
  width: 100%;
  height: 58vh;
  position: relative;
  overflow: hidden;
  display: block;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  @media (width <= 1024px) {
    height: 90vh;
  }

  @media (width <= 768px) {
    height: 90vh;
  }

  @media (width <= 480px) {
    height: 90vh;
  }
}
