.cardItemImage {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  @media (width <= 1024px) {
    height: 80vh;
  }

  @media (width <= 768px) {
    height: 80vh;
  }

  @media (width <= 480px) {
    height: 80vh;
  }
}
