.cardGrid {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3vw;
  padding: 10px;
  z-index: 100;
  transform: translateZ(0);
}

.cardGridItem {
  outline: none;
  transform: translateZ(0);

  > div {
    outline: none;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}
