.cardItemDescription {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.8rem;
  word-break: break-word;
  hyphens: auto;
  margin: 0;
  line-height: 1.4;
  white-space: normal;
  overflow-wrap: break-word;
  color: #fff;
  font-weight: 500;
  backdrop-filter: blur(15px);
  background-clip: padding-box;
  text-align: center;
  background: rgb(0, 0, 0, 0.85);
  z-index: 2;
  font-size: 1rem;
}

@media (width <= 1920px) {
  .cardItemDescription {
    font-size: 0.85rem;
  }
}

@media (width <= 1600px) {
  .cardItemDescription {
    font-size: 0.8rem;
  }
}
