.cardItemDetailed {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0.8rem;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  background: rgb(0, 0, 0, 0.9);
  z-index: 2;
  box-sizing: border-box;
  background-clip: padding-box;
  word-break: break-word;
  hyphens: auto;
  line-height: 1.4;
}

@media (width <= 1920px) {
  .cardItemDetailed {
    font-size: 0.8rem;
  }
}

@media (width <= 1600px) {
  .cardItemDetailed {
    font-size: 0.75rem;
  }
}
