.cardItemDetailed {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.8rem;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  background: rgb(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  z-index: 2;
  box-sizing: border-box;
  word-break: break-word;
  hyphens: auto;
  line-height: 1.4;
}
