.cardItem {
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    height 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  outline: none;
  transform-origin: top center;

  &:hover {
    transform: scale(1);
    box-shadow: 0 8px 40px rgb(0, 0, 0, 0.2);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.cardItemDescription {
  flex-shrink: 0;
}

.cardItemDetailed {
  flex-shrink: 0;
}
