.cardItemDetailed {
  box-sizing: border-box;
  color: #fff;
  font-size: 0.9rem;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  transition:
    opacity 0.2s ease,
    height 0.2s ease,
    padding 0.2s ease;
  flex-shrink: 0;
}
