.cardItemImage {
  width: 100%;
  height: 58vh;
  position: relative;
  overflow: hidden;
  display: block;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
