.cardItemDescription {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.8rem;
  word-break: break-word;
  hyphens: auto;
  line-height: 1.4;
  white-space: normal;
  overflow-wrap: break-word;
  color: #fff;
  font-weight: 500;
  text-align: center;
  background: rgb(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  z-index: 2;
}
