.cardItemImage {
  width: 100%;
  aspect-ratio: 27 / 42;
  position: relative;
  overflow: hidden;
  display: block;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
