.cardItemImage {
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
  min-height: 0;
  height: 60vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  @media (width <= 1024px) {
    height: 80vh;
  }

  @media (width <= 768px) {
    height: 80vh;
  }

  @media (width <= 480px) {
    height: 80vh;
  }
}
