.cardItem {
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  outline: none;

  &:hover {
    box-shadow: 0 8px 40px rgb(0, 0, 0, 0.2);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
