.menuOptions {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.listInline {
  list-style: none;
  z-index: 100;
  gap: 3.5vw;
  padding: 0;
  margin: 0;
  display: flex;

  &Item {
    text-decoration: none;
    display: flex;
    width: 120px;
    height: 2.4vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Clash Grotesk";
    font-size: 1.125rem;
    font-weight: 400;
    white-space: nowrap;

    &:hover {
      background-color: rgb(255, 255, 255, 0.2);
      border-radius: 15px;
    }
  }
}

.menuToggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 999;

  .bar {
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: 0.3s;
  }

  &.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }

  &.open .bar:nth-child(2) {
    opacity: 0;
  }

  &.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}

@media (width <= 768px) {
  .menuToggle {
    display: flex;
  }

  .listInline {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 1rem 0;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.3);
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease,
      transform 0.3s ease;
    will-change: transform, opacity;
    z-index: 999;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      margin-top: 0;
      display: flex;
    }

    &Item {
      font-size: 1.25rem;
      width: 100%;
      text-align: center;
      padding: 0.7rem 0;
      position: relative;
      z-index: 1;
    }
  }

  .menuRefferal {
    display: none;
  }
}

@media (width <= 576px) {
  .menuRefferal {
    display: none;
  }
}

.listInlineItem a {
  outline: none;
}

.listInlineItem a:focus {
  outline: none;
}
