.menuRefferal {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.listInlineRefferal {
  list-style: none;
  gap: 0.5vw;
  padding: 0;
  margin: 0;
  display: flex;

  &__item {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
  }
}

@media (width <= 768px) {
  .menuRefferal {
    display: none;
  }
}

@media (width <= 576px) {
  .menuRefferal {
    display: none;
  }
}
