.DesktopMenuWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
}

@media (width <= 480px) {
  .DesktopMenuWrapper {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

@media (width <= 768px) {
  .DesktopMenuWrapper {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.menuWrapperContent {
  margin: 0.6vh auto;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 90vw;
  position: relative;
  box-sizing: border-box;
}
