.detailedDescription {
  line-height: 1.6;
  overflow-y: auto;
  max-height: 100px;
  height: auto;
}

.detailsSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
}
