.contentWrapper {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
  margin-top: 4vh;
}

.imageWrapper {
  flex: 0 0 25%;
  max-width: 19%;
  min-width: 200px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  aspect-ratio: 27 / 40;

  @media (width <= 768px) {
    flex: 1;
    max-width: 100%;
  }
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.gallery {
  width: 100%;
}

.galleryWrapper {
  width: 100%;
  height: auto;
}
