.contentWrapper {
  display: flex;
  gap: 2rem;
  align-items: stretch;
  width: 100%;
  margin-top: 4vh;
  min-height: max(80vh, 650px);
  max-height: 70vh;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.gallery {
  width: 100%;
}

.imageWrapper {
  flex: 0 0 20%;
  max-width: 20%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (width <= 768px) {
    flex: 1;
    max-width: 100%;
  }
}

.galleryWrapper {
  width: 100%;
  height: auto;
}
