.galleryWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.gallery {
  width: 100%;
  overflow-y: auto;
}

.galleryImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.imageWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailedDescription {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  opacity: 0;
}

.detailedDescription.visible {
  transform: translateY(0);
  opacity: 1;
}
