.modalOverlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  background-color: rgb(0, 0, 0, 0.5);
  visibility: hidden;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  backdrop-filter: blur(0);
  height: 100%;
  z-index: 1000;
  overflow-y: auto;
}
