.trailerSection {
  width: 100%;
  height: max(35vh, 250px);
}

.trailerTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1vh;
  color: #333;
}

.trailerWrapper {
  position: relative;
  max-width: 80%;
  width: 30vw;
  height: 90%;
  overflow: hidden;
  border-radius: 1vw;
  background-color: #000;
  margin-left: 0;
}

.trailerIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1vw;
}

@media (width <= 1200px) {
  .trailerSection {
    margin: 1.5vh 0;
  }

  .trailerTitle {
    font-size: 2.5vw;
  }

  .trailerWrapper {
    width: 70vw;
    height: 40vw;
    border-radius: 0.8vw;
  }

  .trailerIframe {
    border-radius: 0.8vw;
  }
}

@media (width <= 768px) {
  .trailerSection {
    margin: 1.2vh 0;
  }

  .trailerTitle {
    font-size: 3vw;
    margin-bottom: 0.8vh;
  }

  .trailerWrapper {
    width: 90vw;
    height: 50vw;
    border-radius: 1vw;
  }

  .trailerIframe {
    border-radius: 1vw;
  }
}

@media (width <= 480px) {
  .trailerSection {
    margin: 1vh 0;
  }

  .trailerTitle {
    font-size: 4vw;
    margin-bottom: 0.5vh;
  }

  .trailerWrapper {
    width: 95vw;
    height: 55vw;
    border-radius: 1vw;
  }

  .trailerIframe {
    border-radius: 1vw;
  }
}
