.imageWrapper {
  position: relative;
  overflow: hidden;
  height: 100%;

  img {
    width: 100%;
    object-fit: cover;
    display: block;
  }

  @media (width <= 1024px) {
    height: 70vh;
  }

  @media (width <= 768px) {
    height: 60vh;
  }

  @media (width <= 480px) {
    height: 50vh;
  }
}

.detailedDescription {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.7));
  color: white;
  padding: 2rem;
  transform: translateY(-100%);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  backdrop-filter: blur(10px);
}

.detailedDescription.visible {
  transform: translateY(0);
}
