.imageWrapper {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
    display: block;
  }

  @media (width <= 1024px) {
  }

  @media (width <= 768px) {
  }

  @media (width <= 480px) {
  }
}

.detailedDescription {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.7));
  color: white;
  padding: 2rem;
  width: calc(100% + 1px);
  transform: translateY(100%);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  backdrop-filter: blur(10px);
}

.detailedDescription.visible {
  transform: translateY(0);
}
