.modalOpen {
  opacity: 1;
  visibility: visible;
  background: rgb(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
}

.modalCloseState {
  opacity: 0;
  visibility: hidden;
  background: transparent;
  backdrop-filter: blur(0);
}

.modalOpen .modalContent {
  transform: scale(1) translateY(0);
}

.modalCloseState .modalContent {
  transform: scale(0.85) translateY(20px);
}
