.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.modal-content {
  background: #000;
  border-radius: 12px;

  // padding: 20px;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 30vw;
  margin-bottom: 10px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 8px 24px rgb(0, 0, 0, 0.3);
  animation: scaleIn 0.25s ease;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.gallery__details {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

.modal-content img {
  margin-top: 2%;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 8px;
}

.modal__details {
  text-align: center;
  margin-top: 5%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.modal-body {
  margin-top: 16px;
}

.modal-content header h2 {
  margin: 0 0 10px;
  font-size: 1.4rem;
  padding-top: 16px;
  text-align: center;
}

.modal-content footer {
  margin-top: 20px;
  text-align: center;
}

.modal-content footer button {
  background: #444;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.modal-content footer button:hover {
  background: #222;
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (width <= 500px) {
  .modal-content {
    max-width: 90vw;
    width: 90vw;
    padding-left: 10px;
    padding-right: 10px;
  }

  .modal-content img {
    height: 40vh;
  }
}

/* 📱📲 Средние телефоны / маленькие планшеты */
@media (width >= 501px) and (width <= 768px) {
  .modal-content {
    max-width: 70vw;
    width: 70vw;
  }

  .modal-content img {
    height: 50vh;
  }
}

/* 💻 Планшеты в альбомной ориентации */
@media (width >= 769px) and (width <= 1024px) {
  .modal-content {
    max-width: 50vw;
    width: 50vw;
  }
}
