.modalContent {
  background: #000;
  padding-left: 1vw;
  padding-right: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 0 8px 24px rgb(0 0 0 / 0.3);
  animation: scaleIn 0.25s ease;
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: #fff;
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform, opacity;

  img {
    object-fit: cover;
    clip-path: inset(0 round 8px);
  }

  header h2 {
    margin: 0 0 2px;
    font-size: 1.4rem;
    padding-top: 0.5rem;
    text-align: center;
    color: #fff;
  }

  footer {
    margin-top: 20px;
    text-align: center;

    button {
      background: #444;
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 8px 16px;
      cursor: pointer;
      transition: background 0.2s;
      margin-bottom: 0.5vh;

      &:hover {
        background: #222;
      }
    }
  }

  p {
    color: #fff;
    line-height: 1.6;
    margin-bottom: 12px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
}
