@media (width <= 500px) {
  .modalContent {
    min-width: 100vw;
    width: 100vw;
    padding-left: 10px;

    img {
      height: 65vh;
    }
  }
}

@media (width >= 501px) and (width <= 768px) {
  .modalContent {
    min-width: 100vw;
    width: 100vw;
    padding-left: 10px;

    img {
      height: 65vh;
    }
  }
}

@media (width >= 769px) and (width <= 1024px) {
  .modalContent {
    min-width: 100vw;
    padding-left: 10px;
    width: 100vw;
    height: 100vh;
  }
}
