.modalOverlay {
  position: fixed;
  background-color: rgb(0 0 0 / 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
  inset: 0;
}
